{% extends 'list.html' %}
{% load static %}
{% block head_list %}
    <script src="{% static 'js/listProduct.js' %}"></script> 
{% endblock %}
{% block columns %}
    <tr>
        <th scope="col" style="width: 1%;">#</th>
        <th scope="col" style="width: 1%;">Estado</th>
        <th scope="col" style="width: 5%;">Producto</th>
        <th scope="col" style="width: 5%;">NServicio</th>
        <th scope="col" style="width: 5%;">C/Open</th>
        <th scope="col" style="width: 5%;">Sub/Servicio</th>
        <th scope="col" style="width: 5%;">Componentes</th>
        <th scope="col" style="width: 5%;">Dispositivos</th>
        <th scope="col" style="width: 13%;">Descripcion</th>
        <th scope="col" style="width: 8%;">Opciones</th>
    </tr>
{% endblock %}  
            
      
{% block javascript %}

{% endblock %}